.header {
    
    width: 100%;
	background: linear-gradient(#58b6b9, #edf1cf);
    display:flex;
	align-items: center;
	justify-content: flex-start;
	gap: 50px;
}
.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 30px;
	font-size: 20px;
	color: rgb(6, 111, 111);
}
  .info{
      font-family:'Caveat', cursive;
      font-size: 30px;
      color: teal;

     
      
  }