@import '../node_modules/normalize.css/normalize.css';

* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
}

appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}



